
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html{
overflow-x: hidden;
}
body{
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
background-image: url(bg1.jpg);

}
nav{
    width: 100%;
    height: 10vh;
    position: sticky;
}
.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(255, 255, 255);
}
.logo {
    color: rgb(0, 0, 0);    
    font-size: 2rem;
    font-weight: bolder;   
}
.logo span a{
color: rgb(84, 72, 133);
-webkit-animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000)  both;
	        animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000)  both;
}
@-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  
.fa-solid {
    cursor: pointer;
    position: absolute;
    right: 15px ;
    top: 10px;
    color:rgb(147, 71, 233);
    font-size: 2rem;
    display: none;
}
.nav-container .links {
display: flex;
gap: 3rem;
align-items: center;
}
.nav-container .links a{
    position: relative;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    font-weight: 500;
    transform: 0.3 linear;
    align-items: center;
    -webkit-animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000)  0.5s both;
	        animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
}
 @-webkit-keyframes tracking-in-expand-fwd-bottom {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(500px);
              transform: translateZ(-700px) translateY(500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd-bottom {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(500px);
              transform: translateZ(-700px) translateY(500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
.nav-container .links a::before{
position: absolute;
content: "";
bottom: -3px;    
left: 0;
width: 0;
height: 3px;
background-color: rgb(84, 72, 133);
transition: 0.2s linear;
}
.nav-container .links a:hover::before{
width: 100%;
}
.nav-container .contact-btn {
    background-color: transparent;
    padding:  5px 20px;
    border-radius: 20px;
    border: 2px solid rgb(84, 72, 133);
    transition: 0.2s linear;
} 
.nav-container .contact-btn a{
    color: rgb(0, 0, 0);
    transition: 0.3s linear;
}
.nav-container .contact-btn:hover, .nav-container .contact-btn:hover a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(84, 72, 133);
}
.nav-container .links a:hover{
    background-color: rgb (0, 241, 241);
}
.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: brightness(40%) blur(3px);
    box-shadow:  0 0 20px gray;
    transition: 0.2s linear;
}
.dropdown .links a{
    color: white;
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}
.dropdown .links a:hover{
    background-color: rgb(84, 72, 133);
}
section{
    width: 100%;
    height: 90vh;
}
.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main-container .image{
  z-index: -1;
    width: 35%;
}
.main-container .image img{
    width: 100%;
  }
  
  .main-container .content{
    color: rgb(255, 255, 255);
    width: 40%;
    min-height: 100px;
  }
  .content h1{
    font-size: clamp(1rem, 2rem + 5vw, 2.5rem);
    margin-bottom: 100px;
  }
  .content h1 span{
    font-size: clamp(1rem, 2rem + 5vw, 2rem);
    color: rgb(84, 72, 133);

  }
  .content p{
    font-size: clamp(0.4, 0.2 +9vw, 2.5rem);
    margin: 10 0;
  }
  .social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.3rem solid rgb(80, 92, 202);
    border-radius: 50%;
    color: rgb(0, 0, 0);
    margin: 5px 10px;
    font-size: 1.5rem;
    transition: 0.2s linear;
  }
  .social-links i:hover{
    scale: 1.3rem;
    color: white;
    background-color: rgb(147, 71, 233);
    filter: drop-shadow(0 0 10px rgb(147,71,233));
  }
  @media (max-width:884px){
body{
    overflow-y: visible;
}
nav .logo{
    position: absolute;
    top: 16px;
    left: 15px;
    font-size: 1.5rem;
}
.main-container{
    display: flex;
    flex-direction: column;
}
.nav-container .links{
    display: none;
}
.fa-solid{
    display: block;
}
.main-container .content{
    width: 80%;
}
.social-links i{
width: 2.5rem;
height: 2.5rem;
font-size: 1.5rem;
}
.cancel{
    color: white;
}
.main-container .image{
    width: 60%;
    margin-bottom: 0px;
}
  }

  .logo a{
    text-decoration: none;
  }

  .testimonial{
    padding-top: 100px;
    }
    .testimonial .col-3{
    text-align: center;
    padding: 30px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
    }
    .testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
    }
    .testimonial .col-3:hover{
    transform: translateY(-10px);
    }
    .col-3 p{
    font-size: 12px;
    margin: 12px;
    color: #2581dd;
    }
    .testimonial .col-3 h3{
    font-weight: 600;
    color: #2581dd;
    font-size: 16px;
    }